{% extends "layout.html" %}

{% block title %}
    Home
{% endblock %}

{% block main %}
<!--  add language features -->
<div class="overflow-x-auto shadow-lg rounded-lg bg-white">
    <table class="min-w-full divide-y divide-gray-200 text-sm">
        <thead class="bg-gray-100">
            <tr>
                <th class="px-6 py-3 text-left">DF File</th>
                <th class="px-6 py-3 text-left">Project</th>
                <th class="px-6 py-3 text-left">Manager</th>
                <th class="px-6 py-3 text-left">Customer</th>
                <th class="px-6 py-3 text-left">Engineer</th>
            </tr>
        </thead>
        <tbody class="divide-y divide-gray-200">
            {% for p in data %}
            <tr onclick="openDetails('{{ p.problem_id }}')" class="hover:bg-gray-300">
                <td class="px-6 py-4 font-medium">{{ p.df_filename }}</td>
                <td class="px-6 py-4">{{ p.project_number }} - {{ p.project_name }}</td>
                <td class="px-6 py-4">{{ p.manager_name }}</td>
                <td class="px-6 py-4">{{ p.customer_name }}</td>
                <td class="px-6 py-4">{{ p.engineer_name }}</td>
            </tr>
            <tr id="details-{{ p.problem_id }}" class="hidden">
                <td colspan="6" class="p-4 bg-gray-50">

                    <!-- Toggle Button -->
                    <button class="mb-3 px-3 py-1  flex items-end justify-end text-white bg-orange-500 rounded hover:bg-orange-600"
                            onclick="toggleView('{{ p.problem_id }}')">
                    Toggle View
                    </button>

                    <!-- Card View (default visible) -->
                    <div id="card-view-{{ p.problem_id }}">
                    {% include "partials/card_view.html" %}
                    </div>

                    <!-- Table View (hidden initially) -->
                    <div id="table-view-{{ p.problem_id }}" class="hidden">
                    {% include "partials/card_view_table.html" %}
                    </div>

                </td>
                </tr>
            
            {% endfor %}
            
        </tbody>
    </table>
</div>

<script>
function openDetails(id) {
    let row = document.getElementById("details-" + id);
    row.classList.toggle("hidden");
}
</script>
<script>
function openDetails(id) {
    let row = document.getElementById("details-" + id);
    row.classList.toggle("hidden");
}

function toggleView(id) {
    const card = document.getElementById("card-view-" + id);
    const table = document.getElementById("table-view-" + id);
    card.classList.toggle("hidden");
    table.classList.toggle("hidden");
}
</script>



{% endblock %}
